* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
}

.child {
    display: flex;
    width: 300px;
    height: 100px;
    font-size: 20px;
    color: darkcyan;
    background-color: coral;
    border: 2px solid orangered;
    justify-content: center;
    align-items: center;
} */

.nav-bar {
    display: flex;
    margin: 50px;
    justify-content: space-between;
}

.menu {
    display: flex;
    list-style: none;
  
    justify-items: space-between;
}
.menu li {
    width: 150px;
}
.menu a {
    text-decoration: none;
}